.filmCard {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    background: white;
}

.productionAndKind {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    max-width: 50%;
    padding: 8px 16px;
    background: #F5F5F8;
    border-radius: 8px 0 0 0;
}

.production {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #141C24;
}

.kind {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: #141C24;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.data {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.data h3 {
    text-align: left;
    width: 100%;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #141C24;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.data p {
    text-align: left;
    width: 100%;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #637083;
}

.poster {
    width: 300px;
    height: 0;
    padding-top: 300px;
    position: relative;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    loading: lazy;
    display: block;
    object-fit: cover;
}

.moreButton {
    text-decoration: none;
    border-radius: 16px;
    padding: 16px 32px;
    background: #9534D2;
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
}