.back-button {
    text-decoration: none;

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #637083;

    align-items: center;
    height: fit-content;
    display: flex;
    gap: 10px;
}

.back-button:hover{
    color: #141C24;
}