.stars-rating {
    display: flex;
    flex-direction: row;
    /*gap: 6px;*/
    align-items: center;
    justify-content: space-between;
    height: 24px;
    width: 40%;
}

.stars-rating img {
    position: relative;
    height: 100%;
    width: auto;
}

.kinopoisk-rating {
    text-align: left;
    width: 100%;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #637083;
}