.content-container {
    margin-top: 24px;
    padding-bottom: 48px;
    width: 960px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.film-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 32px;
}

.film-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.film-container h1 {
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #141C24;
    margin: 0;
    text-align: left;
}

.subtitle {
    margin: 0;
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #637083;
}

.description {
    margin: 0;
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #344051;
}