:root {
  font-family: Inter, Roboto, Fira Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #141C24;
  background-color: white;

  /*TODO: что это*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

